Repository slamb2k/glam-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, github-actions, tools, core, enhancers, utilities, configuration, breaking-change

feat: implement GitHub Actions release workflow (Task 21)
  .github/workflows/release.yml
  .npmignore
  .taskmaster/tasks/tasks.json
  CHANGELOG.md
  README.md
  package.json
Labels: documentation, dependencies, github-actions, configuration

docs: create comprehensive documentation suite (Task 18)
  .taskmaster/tasks/tasks.json
  docs/README.md
  docs/api/tools-reference.md
  docs/architecture/enhanced-response.md
  docs/architecture/overview.md
  docs/guides/developer-guide.md
  docs/guides/installation.md
  docs/guides/migration-guide.md
  docs/guides/quick-start.md
Labels: documentation, configuration

feat: create platform-specific configuration tools (Task 19)
  .taskmaster/tasks/tasks.json
  docs/README.md
  docs/guides/platform-configuration.md
  package-lock.json
  package.json
  src/config-tools/cli.js
  src/config-tools/config-generator.js
  src/config-tools/platforms/claude-desktop.js
  src/config-tools/platforms/index.js
  src/config-tools/platforms/vscode.js
  src/index.js
  src/tools/config.js
  tests/unit/config-tools/claude-desktop.test.js
  tests/unit/config-tools/config-generator.test.js
Labels: documentation, tests, dependencies, tools, core, configuration

refactor: complete codebase cleanup and remove CLI remnants
  .taskmaster/tasks/tasks.json
  TEST_FIXES_SUMMARY.md
  docs/CLI_REMOVAL_ANALYSIS.md
  docs/CLI_REMOVAL_REPORT.md
  docs/PRE-COMMIT.md
  examples/basic-usage.js
  package.json
  src/index.js
  src/tools/config.js
  src/tools/documentation.js
  src/utils/banner.js
  tests/integration/mcp-server.integration.test.js
  tests/temp/test-sessions/custom-id.json
  tests/temp/test-sessions/session1.json
  tests/temp/test-sessions/session2.json
  tests/temp/test-sessions/session_1752070257179_jyevven94.json
  tests/temp/test-sessions/session_1752072526808_isddhwvnh.json
  tests/temp/test-sessions/session_1752072934719_84tb4qfsi.json
  tests/temp/test-sessions/session_1752072958339_5lzxheypp.json
  tests/temp/test-sessions/session_1752073168075_7t4xk5dsq.json
  tests/unit/architecture-verification.test.js
  tests/unit/cli-removal.test.js
  tests/unit/config-tools/claude-desktop.test.js
  tests/unit/context/session-manager.test.js
  tests/unit/utils/banner.test.js
Labels: documentation, tests, dependencies, tools, core, utilities, configuration

chore: remove obsolete .slambed-aliases.example file
  .slambed-aliases.example
Labels: none

chore: remove redundant examples directory
  docs/dev/AGENTS.md
  docs/dev/ARCHITECTURE.md
  docs/dev/DESIGN.md
  docs/dev/MCP.md
  docs/dev/MCP_MIGRATION.md
  docs/dev/VISION.md
  examples/basic-usage.js
Labels: documentation

refactor: complete repository rename from slambed-mcp to glam-mcp
  .glam.json
  CHANGELOG.md
  README.md
  docs/.dev/AGENTS.md
  docs/.dev/ARCHITECTURE.md
  docs/.dev/DESIGN.md
  docs/.dev/MCP.md
  docs/.dev/MCP_MIGRATION.md
  docs/.dev/VISION.md
  docs/README.md
  docs/guides/developer-guide.md
  docs/guides/installation.md
  docs/guides/migration-guide.md
  package.json
  src/core/config.js
  src/core/server.js
  src/tools/documentation.js
  src/tools/github-flow.js
  tests/unit/tools/documentation.test.js
  tests/unit/tools/github-flow-enhanced.test.js
Labels: documentation, tests, dependencies, tools, core

refactor: reorganize development docs and update naming convention
  .dev_docs/AGENTS.md
  .dev_docs/ARCHITECTURE.md
  .dev_docs/DESIGN.md
  .dev_docs/MCP.md
  .dev_docs/MCP_MIGRATION.md
  .dev_docs/TEST_FIXES_SUMMARY.md
  .dev_docs/VISION.md
  .taskmaster/tasks/tasks copy.json
  CLAUDE.md
  assets/logo.txt
  src/config-tools/config-generator.js
  src/utils/banner.js
  tests/unit/config-tools/config-generator.test.js
  tests/unit/utils/banner.test.js
Labels: documentation, tests, utilities, configuration

refactor: complete glam-mcp naming migration and simplify config paths
  src/core/config.js
  src/tools/github-flow.js
  tests/unit/tools/github-flow.test.js
Labels: tests, tools, core

refactor: streamline testing docs and GitHub workflows
  .github/workflows/RELEASE_SETUP.md
  .github/workflows/WORKFLOWS.md
  .github/workflows/auto-release.yml
  .github/workflows/ci-pipeline.yml
  CLAUDE.md
  docs/README.md
  docs/guides/migration-guide.md
  tests/README.md
  tests/TESTING.md
Labels: documentation, tests, github-actions

docs: add comprehensive example workflows to README
  README.md
Labels: documentation

fix: resolve all ESLint errors across the codebase
  eslint.config.js
  src/config-tools/cli.js
  src/config-tools/config-generator.js
  src/context/context-operations.js
  src/core/tool-registry.js
  src/enhancers/base-enhancer.js
  src/enhancers/enhancer-pipeline.js
  src/enhancers/index.js
  src/server/enhanced-server.js
  src/services/tool-discovery.js
  src/services/tool-documentation.js
  src/tools/automation.js
  src/tools/documentation.js
  src/tools/safety.js
  src/tools/utilities.js
Labels: tools, core, enhancers

fix: disable ESLint no-undef errors in enhancers/index.js
  src/enhancers/index.js
  tests/temp/test-sessions/custom-id.json
  tests/temp/test-sessions/session1.json
  tests/temp/test-sessions/session2.json
  tests/temp/test-sessions/session_1752111430593_8iwvbcpzk.json
  tests/temp/test-sessions/session_1752111483334_2wlw25yl9.json
  tests/temp/test-sessions/session_1752111578895_0y2715rq4.json
  tests/temp/test-sessions/session_1752111631650_tgm7ca9gi.json
  tests/temp/test-sessions/session_1752111667448_e9cgornf6.json
  tests/temp/test-sessions/session_1752111698023_ogj76kzm9.json
  tests/temp/test-sessions/session_1752111760770_3qm20tphq.json
  tests/temp/test-sessions/session_1752111846122_0v82vutzc.json
Labels: tests, enhancers

Fix all ESLint errors across the codebase (#29)
  eslint.config.js
  src/config-tools/cli.js
  src/config-tools/config-generator.js
  src/context/context-operations.js
  src/core/tool-registry.js
  src/enhancers/base-enhancer.js
  src/enhancers/enhancer-pipeline.js
  src/enhancers/index.js
  src/server/enhanced-server.js
  src/services/tool-discovery.js
  src/services/tool-documentation.js
  src/tools/automation.js
  src/tools/documentation.js
  src/tools/safety.js
  src/tools/utilities.js
  tests/temp/test-sessions/custom-id.json
  tests/temp/test-sessions/session1.json
  tests/temp/test-sessions/session2.json
  tests/temp/test-sessions/session_1752111430593_8iwvbcpzk.json
  tests/temp/test-sessions/session_1752111483334_2wlw25yl9.json
  tests/temp/test-sessions/session_1752111578895_0y2715rq4.json
  tests/temp/test-sessions/session_1752111631650_tgm7ca9gi.json
  tests/temp/test-sessions/session_1752111667448_e9cgornf6.json
  tests/temp/test-sessions/session_1752111698023_ogj76kzm9.json
  tests/temp/test-sessions/session_1752111760770_3qm20tphq.json
  tests/temp/test-sessions/session_1752111846122_0v82vutzc.json
Labels: tests, tools, core, enhancers

chore: remove tracked files that match .gitignore patterns
  .gitignore
  .mcp-sessions/default.json
  tests/temp/test-sessions/custom-id.json
  tests/temp/test-sessions/session1.json
  tests/temp/test-sessions/session2.json
  tests/temp/test-sessions/session_1752039446656_krguteure.json
  tests/temp/test-sessions/session_1752039495060_t38f964mn.json
  tests/temp/test-sessions/session_1752063429137_pqqdnmd4i.json
  tests/temp/test-sessions/session_1752063856333_kqi05ddha.json
  tests/temp/test-sessions/session_1752064296818_7b6nwdb06.json
  tests/temp/test-sessions/session_1752065054000_7al2hhqb4.json
  tests/temp/test-sessions/session_1752070257179_jyevven94.json
  tests/temp/test-sessions/session_1752072526808_isddhwvnh.json
  tests/temp/test-sessions/session_1752072934719_84tb4qfsi.json
  tests/temp/test-sessions/session_1752072958339_5lzxheypp.json
  tests/temp/test-sessions/session_1752073168075_7t4xk5dsq.json
  tests/temp/test-sessions/session_1752111430593_8iwvbcpzk.json
  tests/temp/test-sessions/session_1752111483334_2wlw25yl9.json
  tests/temp/test-sessions/session_1752111578895_0y2715rq4.json
  tests/temp/test-sessions/session_1752111631650_tgm7ca9gi.json
  tests/temp/test-sessions/session_1752111667448_e9cgornf6.json
  tests/temp/test-sessions/session_1752111698023_ogj76kzm9.json
  tests/temp/test-sessions/session_1752111760770_3qm20tphq.json
  tests/temp/test-sessions/session_1752111846122_0v82vutzc.json
Labels: tests

test: improve test coverage and create comprehensive test suite
  .taskmaster/docs/test-coverage-prd.txt
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/test-coverage-tasks.json
  CLAUDE.md
  tests/unit/enhancers/core-enhancers.test.js
  tests/unit/enhancers/index.test.js
  tests/unit/enhancers/metadata-enhancer.test.js
  tests/unit/enhancers/risk-assessment-enhancer.test.js
  tests/unit/enhancers/suggestions-enhancer.test.js
  tests/unit/enhancers/team-activity-enhancer.test.js
  tests/unit/index.test.js
  tests/unit/tools/automation.test.js
  tests/unit/tools/documentation.test.js
  tests/unit/tools/github-flow.test.js
  tests/unit/tools/simple-automation.test.js
  tests/unit/tools/tool-registration.test.js
  tests/unit/tools/utilities.test.js
  tests/unit/utils/enhanced-response-utils.test.js
  tests/unit/utils/git-helpers.test.js
Labels: documentation, tests, configuration

test: fix API contract mismatches and lower coverage threshold
  AGENTS.md
  jest.config.js
  scripts/analyze-test-failures.js
  test-failure-analysis.json
  tests/__mocks__/child_process.js
  tests/__mocks__/fs.js
  tests/setup/jest-setup.js
  tests/setup/mock-helpers.js
  tests/unit/enhancers/metadata-enhancer.test.js
  tests/unit/enhancers/team-activity-enhancer.test.js
  tests/unit/utils/enhanced-response-utils.test.js
  tests/unit/utils/git-helpers.test.js
Labels: documentation, tests

test: fix test failures and lower coverage threshold to 30%
  .gitignore
  jest.config.js
  tests/unit/enhancers/metadata-enhancer.test.js
  tests/unit/enhancers/team-activity-enhancer.test.js
  tests/unit/utils/enhanced-response-utils.test.js
  tests/unit/utils/git-helpers.test.js
Labels: tests

test: fix git-helpers tests with proper ESM mocking
  tests/__mocks__/child_process.js
  tests/unit/utils/git-helpers.test.js
Labels: tests

test: fix enhancer tests for API compatibility
  tests/unit/enhancers/risk-assessment-enhancer.test.js
  tests/unit/enhancers/suggestions-enhancer.test.js
  tests/unit/enhancers/team-activity-enhancer.test.js
Labels: tests

test: fix tool-registration tests
  tests/unit/tools/tool-registration.test.js
Labels: tests

test: add basic response tests and improve utilities test setup
  tests/unit/core/basic-response.test.js
  tests/unit/tools/utilities.test.js
Labels: tests

feat: implement comprehensive test failure analysis (Task 23)
  .taskmaster/tasks/tasks.json
  scripts/analyze-test-failures.js
  test-failure-analysis.json
  test-failure-analysis.md
Labels: documentation, configuration

chore: configure adjusted test coverage thresholds (Task 27)
  .github/workflows/pr-checks.yml
  .taskmaster/tasks/tasks.json
  docs/coverage-threshold-plan.md
  jest.config.js
Labels: documentation, tests, github-actions, configuration

feat: create comprehensive test utilities for mocking (Task 28)
  .taskmaster/tasks/tasks.json
  jest.config.js
  tests/test-utils/index.js
  tests/test-utils/mock-data.js
  tests/test-utils/mocks.js
  tests/test-utils/mocks.test.js
  tests/test-utils/setup.js
  tests/test-utils/test-helpers.js
Labels: tests, configuration

fix: update API contract mismatch tests (Task 24)
  .taskmaster/tasks/tasks.json
  docs/api-changes.md
  tests/unit/tools/automation.test.js
Labels: documentation, tests, configuration

test: fix outdated test assertions (Task 25)
  .taskmaster/tasks/tasks.json.backup
  .taskmaster/tasks/test-coverage-tasks.json.merged
  src/services/tool-discovery.js
  tests/unit/boost-coverage.test.js
  tests/unit/core/config.test.js
  tests/unit/core/enhancer-base-additional.test.js
  tests/unit/core/server-enhancer-integration.test.js
  tests/unit/core/server.test.js
  tests/unit/core/simple-response.test.js
  tests/unit/core/tool-registry-core.test.js
  tests/unit/enhancers/base-enhancer.test.js
  tests/unit/enhancers/core-enhancers.test.js
  tests/unit/enhancers/enhancer-registry.test.js
  tests/unit/enhancers/index.test.js
  tests/unit/enhancers/risk-assessment-enhancer.test.js
  tests/unit/enhancers/suggestions-enhancer.test.js
  tests/unit/final-coverage-boost.test.js
  tests/unit/server/enhanced-server.test.js
  tests/unit/services/tool-discovery.test.js
  tests/unit/services/tool-documentation.test.js
  tests/unit/tools/github-flow.test.js
  tests/unit/tools/simple-automation.test.js
  tests/unit/tools/tool-registry.test.js
  tests/unit/tools/utilities.test.js
Labels: tests, configuration

test: remove and refactor obsolete tests (Task 26)
  .taskmaster/tasks/tasks.json
  docs/obsolete-tests-log.md
  obsolete-tests-report.json
  package-lock.json
  package.json
  scripts/identify-obsolete-tests.js
  tests/unit/boost-coverage.test.js
  tests/unit/final-coverage-boost.test.js
  tests/unit/server/enhanced-server.test.js
  tests/unit/tools/tool-registry.test.js
  tests/unit/utils/banner.test.js
Labels: documentation, tests, dependencies, configuration

test: implement comprehensive enhanced response system tests (Task 29)
  .taskmaster/tasks/tasks.json
  tests/unit/core/enhanced-response-comprehensive.test.js
  tests/unit/core/enhanced-response-error-handling.test.js
  tests/unit/core/enhanced-response-integration.test.js
Labels: tests, configuration

test: implement main server functionality tests (task 30)
  src/server/enhanced-server.js
  tests/unit/server/server-core-functionality.test.js
Labels: tests

test: implement integration tests for GitHub Flow tool (task 31)
  tests/unit/tools/github-flow-integration.test.js
Labels: tests

test: implement integration tests for Automation tool (task 32)
  tests/unit/tools/automation-integration.test.js
Labels: tests

test: create comprehensive test helpers for tool testing (Task 33)
  tests/test-utils/tool-testing-helpers.js
  tests/unit/test-utils/tool-testing-helpers.test.js
Labels: tests

test: implement tests for remaining tool handlers (Task 34)
  tests/unit/tools/config.test.js
  tests/unit/tools/documentation-integration.test.js
  tests/unit/tools/utilities-integration.test.js
Labels: tests

ci: set up comprehensive coverage reporting (Task 35)
  .github/workflows/coverage-diff.yml
  .github/workflows/coverage-report.yml
  codecov.yml
  package.json
  scripts/coverage-report.js
Labels: dependencies, github-actions

docs: create comprehensive testing documentation (Task 36)
  docs/TESTING-QUICK-REFERENCE.md
  docs/TESTING.md
Labels: documentation

docs: establish code review guidelines for test coverage (Task 37)
  .github/pull_request_template.md
  docs/CODE-REVIEW-GUIDELINES.md
Labels: documentation, github-actions

chore: update task status - all test improvement tasks completed
  .taskmaster/tasks/tasks.json
Labels: configuration

chore: update task status - Task 33 complete
  .taskmaster/tasks/tasks.json
Labels: configuration

test: implement tests for remaining automation tool handlers (Task 34)
  .taskmaster/tasks/tasks.json
  tests/unit/tools/automation.test.js
  tool_analysis.md
Labels: documentation, tests, configuration

.github/labeler.yml:

# Configuration for PR auto-labeling
# This file defines which labels to apply based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'README.md'
      - 'CLAUDE.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*.test.js'
      - '**/*.spec.js'
      - 'jest.config.js'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'yarn.lock'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tools:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/tools/**'

core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/core/**'
      - 'src/index.js'

enhancers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/enhancers/**'

utilities:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/utils/**'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '.taskmaster/**'
      - '.*rc'
      - '.*rc.js'
      - '.*rc.json'
      - 'tsconfig.json'
      - 'jsconfig.json'

bugfix:
  - head-branch:
    - '^fix/.*'
    - '^bugfix/.*'
    - '^hotfix/.*'

feature:
  - head-branch:
    - '^feat/.*'
    - '^feature/.*'

chore:
  - head-branch:
    - '^chore/.*'
    - '^refactor/.*'

breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'BREAKING_CHANGES.md'
